.reportIncidentButtonsContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reportIncidentBtn {
  margin-right: 20px !important;
  background-color: #5b47fb !important;
  color: #fff;
  border: none;
}